p {
    font-size: 25px

}

input {
    width: 150px;
    height: 25px;
    border-radius: 10px;
}

#boxresultado {
    display: flex;
    flex-direction: row;
}

#resultado {
    padding: 0px 0px 0px 10px;
}

button {
    width: 40px;
    height: 40px;
    background-color: brown;
    font-size: 25px;
    font-weight: bolder;
}